<homogenization>

[SX]
# type none
mech none

<crystallite>
[essential]
(output) texture
(output) orientation
(output) grainrotation
(output) f              # deformation gradient tensor
(output) p              # first Piola-Kichhoff stress tensor
(output) s              # second Piola-Kichhoff stress tensor

<phase>
[Cu]
elasticity              hooke
plasticity              none


lattice_structure       fcc
Nslip                   12                # per family
Ntwin                    0                # per family

c11                     168.4e9
c12                     121.4e9
c44                     75.4e9

