
<homogenization>

[SX]
# type none
mech none

<crystallite>
[essential]
(output) texture
(output) orientation
(output) grainrotation
(output) f              # deformation gradient tensor
(output) fe             # elastic deformation gradient tensor
(output) fp             # plastic deformation gradient tensor
(output) p              # first Piola-Kichhoff stress tensor
(output) s              # second Piola-Kichhoff stress tensor
(output) lp             # plastic velocity gradient tensor
(output) elasmatrix     # elastic stiffness matrix

<phase>
[martensite]
elasticity      hooke
plasticity      isotropic

(output) flowstress
(output) strainrate

lattice_structure isotropic
Nslip                   12
Ntwin                   0

c11                     417.4e9
c12                     242.4e9
c44                     211.1e9

m               3
tau0            1180.0e6       # yield strength (MPa)
tausat          2920.0e6       # tau0 + K̄M if linear hardening cap
gdot0           0.001
n               20           # effectively perfect plasticity
h0              1740.0e6       # K̄M (MPa)
a               1

atol_resistance 1

[ferrite]
elasticity      hooke
plasticity      isotropic

(output) flowstress
(output) strainrate

lattice_structure isotropic
Nslip                   12
Ntwin                   0

c11                     233.3e9
c12                     135.5e9
c44                     118.0e9
m               3
tau0            425.0e6       # yield strength (MPa)
tausat          1365.0e6      # tau0 + K̄F if you assume linear hardening cap
gdot0           0.001
n               0.2         # hardening exponent
h0              940.0e6       # K̄F (MPa)
a               1           # hardening saturation shaping factor

atol_resistance 1
